dk.u text eol=lf
dk0 text eol=lf
*.awk text eol=lf
*.c text eol=lf
*.cmd text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.json text eol=lf
*.jsonc text eol=lf
*.md text eol=lf
*.patch text eol=lf
*.sed text eol=lf
*.sh text eol=lf
*.txt text eol=lf
*.u text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
assets/table/** text eol=lf
assets/wine-hostshim/* text eol=lf
